/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


/* ------ global ----- */

body{
	padding:0;
	margin:0;
	font-family:'garamond';
	background-color: #f3f3f3;
}

/* ----- grid ------*/

.grid-container{
	width: 100%;
	max-width:2400px;
}

.grid-container*{
	box-sizing:border-box;
}

/* --- clearfix --- */
.row:before,
.row:after{
	content: "";
	display:table;
	clear:both;
}

[class*='col-']{
	float:left;
	min-height: 1px;
	width:20%;
	/*--gutter--*/
	padding: 0;
}

.col-1{width:20%;}
.col-2{width:40%;}
.col-3{width:60%;}
.col-4{width:80%;}
.col-5{width:100%;}


/*------responsive-----*/

@media all and (max-width:800px){
	.col-1{width:33.33%;}
	.col-2{width:66.67%;}
	.col-3,
	.col-4,
	.col-5{width:100%;}



/* --- clearfix --- */
.row:before,
.row:after{
	content: "";
	display:table;
	clear:both;
}

[class*='col-']{
	float:left;
	min-height: 1px;
	width:100%;
	/*--gutter--*/
	padding: 0;
}

}

@media all and (max-width: 650px){
	.col-1{width:50%;}
	.col-2,
	.col-3,
	.col-4,
	.col-5{width:100%;}

/* --- clearfix --- */
.row:before,
.row:after{
	content: "";
	display:table;
	clear:both;
}

[class*='col-']{
	float:left;
	min-height: 1px;
	width:100%;
	/*--gutter--*/
	padding: 0;
}
}

/*----navigation-----*/

.topbar, .bottomBar div{
background-color:#000000;
color: #ffffff;
margin:0;
text-align:center;
font-family: 'garamond';
height: 80px;
}

.search{
float:right;
width:15%;
position:absolute;
top:31px;
right:2%;
}

.searcher{
	float:right;
	position:absolute;
	right: 17.5%;
	height: 21px;
	top: 5%;
}

.menu{
	height:37px;
	width:auto;
	float:left;
	padding-left:10%;
	position:relative;
	top:19px;
}


.banner{
font-family: "UnifrakturMaguntia";
font-size: 3em;
color: #ffffff;
position:absolute;
left: 20%;
top: 1%;
}

.top-menu{
	display:inline-block;
}

.tabs{
	height: 30px;
	color:white;
	text-align:center;
	font-size: 1.1em;
	padding-top: 1.5%;
	padding-left: 5%;
	margin-bottom: 2%;
	border-bottom: 4px solid black;
	li{
		padding: 0 2%;
		:hover{
			color: #A30000;
		}
		
	}
	a{
		text-decoration:none;
		font-family: 'garamond';
		font-weight:300;
		color:#A30000;
		&.active{
			color:#0B4970;
		}

	}
}

/*-----Start of Article -----*/

.articleTitle{
	border-bottom: 1px solid #66666A;
	margin: 0 5%;
}

h1.title{
font-family:"oswald";
font-weight:bold;
font-size: 8vh;
color:#000000;
}

.where{
font-family: "garamond";
font-size:16px;
padding: 2% 0 1% 7%;
	li{
	display:inline-block;
	float:left;
	padding: 0 1%;
	}
	a{
	color:black;
	text-decoration:none;
	}
	
}

.stalinSpeakingPicture{
margin: 0 auto;
width:100%;
}

.articleTitle{
	text-align:center;
}

/*-------text ------ */

p{
font-family:"garamond";
color: #000000;
padding:5% 2%;
font-weight: 300;
}

article {
 font-size: 12px;
 text-align:left;
}
h1,h2,h3,h4,h5,h6,p {
 line-height: 1.55;
}
h1 { font-size: 4em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }


/* ----- images ----- */

img.twoFriends{
	height:auto;
	max-width:63%;
	float:right;
	padding:5%;
}

img.car{
	height: auto;
	width: 63%;
	float:left;
	padding: 5%; 

}

img.twoFriendsAgain{
	height:auto;
	width:63%;
	float:right;
	padding:5%;
}

img.stalinFamily{
	height:auto;
	width:63%;
	float:left;
	padding: 5%;


}

/*----- Author ----*/

div.author{
	background-color: black;
	height:100%;
	vertical-align: middle;
	text-align:center;
	margin: 5% 15%;
	@include border-radius(5px);
	p{
		font-size: 1.1em;
	font-family: "garamond";
	margin: 10% 2% 2% 5%;
	color:white;
	padding-right: 5%;
	}
}

img.author{
	width:auto;
	height: 250px;
	margin: 0 auto;
	padding: 5%;

}

p.author.said{
	font-size: 18px !important;
}

/*-----Form -----*/

h3{
	font-size: 30px;
	font-weight:bold;
	font-family:"garamond";
}

textarea{
	height:auto;
	max-width:100%;
	position:relative;
	right: 4%;
}

.textarea{
	text-align:center;
	padding: 2%;
}

.articlestuff{
	border-bottom: 1px solid #66666A;
}

/*----Comments -----*/

.comments{
	padding:5%;
	textarea{
		@include border-radius(5px);
	}
	input{
		position:relative;
		left: 80%;
		border-style:none;
		color:white;
		height: 30px;
		width: 80px;
		background-color:#A30000;
		@include border-radius(5px);
		@include box-shadow(#000000 2px 2px 10px);
	}
}

h3{
	font-family: "garamond";
	position:relative;
	left:10%;

}

.name{
	font-size:27px;
	font-family:"garamond";
	color:#000000;
}

.dateTime{
	font-size:24px;
	font-weight:bold;
	font-family:"garamond";
	color:#0f0f0f0;
}

.whatPedroSaid, .whatLaurenSaid{
	font-size:23px;
	font-family:"garamond";
	color:#000000;
	padding: 5%;
}

.comment{
	border-top: 1px solid #66666A;
	padding:5%;
	margin: 0 5%;
}


/*-----Advertisement ----*/

.advert{
	text-align:center;
}
.adTuenti{
	height:auto;
	max-width:100%;
	padding:none;
	margin:none;
}

/*-----Footer-----*/

.socialMedia,.weather{
	max-width:100%;
	float:left;
	padding-left: 5%;
	position:relative;
	top: 10px;
}

.weather{
	float:right;
	font-size: 2em;
	padding-right: 5%;
	font-family: 'garamond';
	bottom: 5%;
}

.bottomBar{
	bottom:5%;
	text-align:center;
	margin:none;
	padding:none;
}

.bannerBottom{
	font-family:"UnifrakturMaguntia";
	font-size:36px;
}

/* ---- queries ---- */

@media all and (max-width:800px){

.tabs{
	font-size: 0.9em;
}
.banner{
	left:0;
}
}

@media all and (max-width:600px){

.tabs{
	font-size: 0.63em;
}
.banner{
	font-size: 2em;
	top: 3.5%;
}
}




